*~
build/
.coverage
*django.mo
.DS_Store
.env
.vimrc
*.py[oc]
bower_components
node_modules

static/cv/cv-kirill-pavlov.aux
static/cv/cv-kirill-pavlov.dvi
static/cv/cv-kirill-pavlov.log
static/cv/cv-kirill-pavlov.out
static/cv/cv-kirill-pavlov.ps


static/slides/**/*.aux
static/slides/**/*.dvi
static/slides/**/*.log
static/slides/**/*.nav
static/slides/**/*.out
static/slides/**/*.snm
static/slides/**/*.synctex.gz
static/slides/**/*.toc
static/slides/**/*.vrb
