*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    // This defines what 1rem is
    font-size: 62.5%; // 1rem = 10px; 10px/16px (default font size) = 62.5%
}

::selection {
    background-color: $color-primary;
    color: $color-white;
}
